<h3><%= post.title %></h3>
<div class="p-1">
<% if post.images.attached? %>
  <ul class= "list">
    <% post.images.each do |image| %>
      <li class="card">
        <%= image_tag image %>
      </li>
    <% end %>
  </ul>
  <div class="more">
    <button>もっと見る</button>
  </div>
<% else %>
<% end %>
</div>

<div class="p-1">
  <p>
    ユーザーネーム：
    <% if user_signed_in? %>
      <%= link_to user_path(@user) do %>
        <%= post.user.name %>
      <% end %>
    <% elsif admin_signed_in? %>
    <%= link_to admin_user_path(@user) do %>
        <%= post.user.name %>
      <% end %>
    <% end %>
  </p>
</div>

<div class="border p-1">
  <%= post.caption %>
</div>

