<h2><%= post.title %></h2>

<div class="p-1">
<% if post.images.attached? %>
  <!--<script src="images.js"></script>-->
  <ul class= "list display: flex; flex-wrap: wrap; width: 200px height: 300px;">
    <% post.images.each do |image| %>
      <li>
        <%= image_tag image, size: '200x300' %>
      </li>
    <% end %>
  </div>
  <div class="more">
    <button>もっと見る</button>
  </div>
<% else %>
<% end %>
</div>

<div class="p-1">
  <p>
    ユーザーネーム：
    <% if user_signed_in? %>
      <%= link_to user_path(@user) do %>
        <%= post.user.name %>
      <% end %>
    <% elsif admin_signed_in? %>
    <%= link_to admin_user_path(@user) do %>
        <%= post.user.name %>
      <% end %>
    <% end %>
  </p>
</div>

<div class="border p-1">
  <%= post.caption %>
</div>

