<h2><%= post.title %></h2>

<div class="p-1">
<% if post.images.attached? %>
  <% post.images.each do |image| %>
    <section class="d-flex px-1">
      <%= image_tag image, width: 150, height: 200 %>
      <% end %>
    </section>
<% else %>
  <%= image_tag 'no_image.jpeg' %>
<% end %>
</div>

<div class="p-1">
  <p>
    ユーザーネーム：
    <% if user_signed_in? %>
      <%= link_to user_path(@user) do %>
        <%= post.user.name %>
      <% end %>
    <% elsif admin_signed_in? %>
    <%= link_to admin_user_path(@user) do %>
        <%= post.user.name %>
      <% end %>
    <% end %>
  </p>
</div>

<div class="border p-1">
  <%= post.caption %>
</div>

