<%= javascript_pack_tag "posts/new" %>
<h1>新規投稿</h1>
<%= form_with model: @post, url: posts_path, id: "form", local: false do |f| %>
  <div>
    <%= f.label :クラブ %>
    <%= f.select :club_id, options_from_collection_for_select(@clubs, :id, :name) %>
  </div>
  <div id="stadium_select">
    <%= f.label :スタジアム %>
  </div>
  <div>
    <%= f.label :画像 %>
    <%= f.file_field :images, multiple: true %>
  </div>
  <div>
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :詳細 %><br>
    <%= f.text_area :caption %>
  </div>
  <div>
    <%= f.submit "作成", id: "button" %>
  </div>
<% end %>
