<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        <%= render 'public/posts/show', post: @post %>
      </div>
      <% if current_user.email == "guest@example.com" %>
        <div class="p-1">
          <%= @post.likes.count %> いいね
        </div>
      <% else %>
        <div id="like_button_<%= @post.id %>" class="p-1">
          <%= render 'public/likes/like', post: @post %>
        </div>
      <% end %>
      <div class="p-1">
        <%= link_to @stadium.name, stadium_path(@stadium), class: "btn btn-sm btn-info" %>
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-success" %>
          <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div id="comments_area">
        <%= render 'public/comments/comments', post: @post %>
      </div>
      <% unless current_user.email == "guest@example.com" %>
        <%= render 'public/comments/comment_form', {post: @post, comment: @comment} %>
      <% end %>
    </div>
  </div>
</div>