<div class="conatainer px-5 px-sm-0">
  <div class="row">
    <div class="col-md-6">
      <div>
        <%= render 'show', post: @post %>
      </div>
      
      <div id="like_button_<%= @post.id %>">
        <%= render 'public/likes/like', post: @post %>
      </div>
    </div>

    <div class="col-md-6">
      <%= render 'public/comments/comment', {post: @post, comment: @comment} %>
    </div>
  </div>

  <div class="row mx-auto">
    <%= link_to "一覧へ戻る", posts_path, class: "btn btn-sm btn-info" %>
    <% if @post.user == current_user %>
      <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-success" %>
      <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
</div>