<h1>新規作成</h1>
<%= form_with model: stadium, url: admin_stadiums_path do |f| %>
<div class="p-1">
    <%= f.label :スタジアム名 %>
    <%= f.text_field :name %>
</div>
<div class="p-1">
<%= f.label :保有クラブ %>
<%= f.select :club_id, options_from_collection_for_select(Club.all, :id, :name) %>
</div>
<div class="p-1">
<%= f.submit "作成", class: "btn btn-sm btn-success" %>
<% end %>
</div>
