<h1 >クラブの新規作成</h1>
<div>
  <%= form_with model: club, url: admin_clubs_path do |f| %>
  <div class="p-1">
  <%= f.label :クラブ名 %>
  <%= f.text_field :name %>
  </div>
  <div class="p-1">
  <%= f.label :所属リーグ %>
  <%= f.select :division, Club.divisions.keys.map {|k| [I18n.t("enums.club.division.#{k}"), k]} %>
  </div>
  <div class="p-1">
  <%= f.submit "保存" %>
  <% end %>
  </div>
</div>
