<h1><%= @club.name %>の情報編集</h1>
<%= form_with model: @club, url: admin_club_path do |f| %>
<%= f.label :クラブ名 %>
<%= f.text_field :name %>
<%= f.label :所属リーグ %>
<%= f.select :division, Club.divisions.keys.map {|k| [I18n.t("enums.club.division.#{k}"), k]} %>
<%= f.submit "保存" %>
<% end %>
