<h3>ユーザー情報の編集</h3>
<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :ユーザーネーム %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :自己紹介 %><br>
    <%= f.text_area :introduction %>
  </div>
  <div>
    <%= f.submit "変更を保存" %>
  </div>
<% end %>


