<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="text-center"><%= @user.name %></h1>
      <div class="mx-auto p-1", style="width: 60%;">
        <%= @user.introduction %>
      </div>
      <div class="text-center p-1">
        <%= link_to "ユーザーのページへ", user_path(@user), class: "btn btn-sm btn-defaullt text-primary" %>
        <% if @user == current_user %>
          <%= link_to "ユーザー情報の編集", edit_user_path(@user),  class: "btn btn-sm btn-success" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto pt-5">
      <h2 class="text-center">いいね一覧</h2>
        <table class="table">
          <thead>
            <tr>
              <th>ユーザー</th>
              <th>画像枚数</th>
              <th>タイトル</th>
              <th>コメント数</th>
              <th>いいね数</th>
              <th>投稿日時</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @like_posts.each do |post| %>
            <tr>
              <td><%= link_to post.user.name, user_path(post.user) %></td>
              <td><%= post.images.count %>枚</td>
              <td><%= link_to post.title, post_path(post) %></td>
              <td><%= post.comments.count %>コメント</td>
              <td><%= post.likes.count %>いいね</td>
              <td><%= post.created_at.strftime('%Y/%-m/%-d %H:%M') %></td>
              <td>
                <% if post.user == current_user %>
                  <%= link_to "編集", edit_post_path(post), class: "btn btn-sm btn-success" %>
                  <%= link_to "削除", post_path(post), method: :delete, class: "btn btn-sm btn-danger" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
